body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f5;
  color: #4d2121;
}

header {
      color:blue;
      text-align: center;
      padding: 30px 10px;
      box-sizing: content-box;
  text-align: 0;
  padding: 0;
}

.rooms {
  padding: 2rem;
  margin: left ;
  text-align:left;
  color: #e9e8f1;
  background: rgb(234, 136, 227);
}

.room {
  border: 1px solid black;
  padding: 1rem;
  text-align: left;
  margin: left;



}

s .room h3 {
  text-align: left;
  margin-top: 0;
}

button {
  background:aqua;
  color: rgba(16, 15, 15, 0.922);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

.contact {
  padding: 2rem;
  background: #25acc7;
}

.contact form {
  background-color: #f6f7f8;
  color: #f0ee79;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

s .contact input,
.contact textarea {
  padding: 0.5rem;
  border: 1px solid #cef98e;
  width: 100%;
  height: 100%;
}

form {
  color: rgb(94, 173, 185);
}

footer {

  color: rgb(19, 6, 6);
  text-align: center;
  padding: 1rem;
}

.h1 {
  background-color: coral;
  color: #1a1919;
}

.h2 {
  color: #fb0303;
}

body {
  background-color: gold;
}

.h2 {
  color:black;
}

.p {
  color: black;
}

.ul {
  color:black;
  margin: auto;
  text-align: left;
}
.footer{
  color: #25acc7;
}